/* Параметры body */
body {
    background-color: blue;
    color: white;
    box-sizing: border-box;
}

    /* Параметры блока с лого */
    h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    perspective: 1000px;
    perspective-origin: 50% -200px;
    }
    h1 {
        font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        letter-spacing: 0.1em;
        color: #EEE;
        animation: rotate 2s ease-in-out alternate infinite;
    }
    h1:before {
        content: attr(data-shadow);
        color: transparent;
        text-shadow: 0 0 15px #010975 ;
        position: absolute;
        z-index: -1;
        margin: -0.1em 0 0 0;
        animation: skew 2s ease-in-out alternate infinite;
        transform-origin: bottom;
    }
    @keyframes rotate {
        from {
        transform: rotateY(-10deg);
        text-shadow:  1px -1px #CCC,
                        2px -1px #BBB,
                        3px -2px #AAA,
                        4px -2px #999,
                        5px -3px #888,
                        6px -3px #777;
        }
        to {
        transform: rotateY(10deg);
        text-shadow:  -1px -1px #CCC,
                        -2px -1px #BBB,
                        -3px -2px #AAA,
                        -4px -2px #999,
                        -5px -3px #888,
                        -6px -3px #777;
        }
    }
    @keyframes skew {
        from {
        transform: scaleY(0.3) skewX(-15deg);
        }
        to {
        transform: scaleY(0.3) skewX(-20deg);
        }
    }
/* Параметры блока с гифкой дизайнер */
.des {
    position: absolute;
    margin-top: 20px;
    margin-left: 23%;
}

/* Параметры блока с контентом */
.container {
    max-width: 800px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col-2 {
    
    width: 50%;
    padding: 0 10px;
}
.col-3 {
    width: 47,5%;
    padding: 0 10px;
}

    /* Параметры блока с ссылками на работы */
    .col-3 h2 {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 0.05em;
        letter-spacing: 0.03em;
        color: yellow;

        text-shadow: #010975 1px 1px 0, #010975 2px 2px 0, 
                    #010975 3px 3px 0, #010975 4px 4px 0, 
                    #010975 5px 5px 0;
    }

    .col-3 ul {
        margin-left: -15px;
        font-family: Helvetica;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.01em;
        
        color: #ffffff;
        list-style: square;
    }

    .col-3 a {
        color: #ffffff;
        
    }

    .col-3 a:hover {
        color: #9dff00;   
    }

       /* Параметры блока с контактными ссылками */
        .mail {;
            margin-top: 120px;
            rotate: 10deg;
        }

        .telega {
            margin-top: -10px;
            rotate: -10deg;
            
        }

        .edu {
            margin-top: 10px;
            margin-left: 70px;
        }

        .ins {
            margin-left: 120px;
            margin-top: 50px;
        }

        .zemlia {
            margin-top: -60px;
        }